
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
  font-family: 'Open Sans', sans-serif;
  font-size : 15px;
  margin: 0px;
  padding: 0px;
}
.red.shift{
margin: 10px;
}
body{
  background-color:gray;
}
#controls{
text-align: center;
}
body  h1{
  font-size: 100px;
  text-align: center;
}

.recipe{
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 250px;
  border: 1px solid #111111;
  border-radius: 5px;
  margin: 20px;
  background-color: #DDDDDD;
}

.recipe .photo{
  position: relative;
  height: 300px;
  background-size: cover;
  border-bottom: 1px solid #111111;
  margin-bottom: 10px;
}

.recipe .name{
  font-size: 20px;
  color: #001F3F;
  padding: 5px;
}

.recipe .directions, .recipe .ingredients{
  padding: 5px;
}

.recipe .ingredients li{
  position: relative;
  left: 20px;
}

.recipe .photo button{
position: absolute;
right: 10px;
top: 10px;
}

form{
text-align: center;
display: inline-block;
padding: 10px;
border: 1px solid;
margin: 20px;
}
form input, form button, form textarea{
display: block;
width: 350px;
padding: 1px;

}
